/* CSS to style the video that is displaying in index.html */

/* Displays none on mobile-first design; we didn't want it on phones */
#bgvid {
  display: none; 
}

/* Media query to display on desktop  */
@media (min-width: 500px) {
  #bgvid {
    display: inline; 
    width: 100vw;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}
